.main_menu {
  position: fixed;
  left: 0;
  top: 75px;
  width: 256px;
  bottom: 0;
  background: #3E606F;
  padding: 3px;
  overflow: auto;
}
.main_menu a {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  padding: 16px 8px;
  text-decoration: none;
}
.main_menu a:hover {
  color: #fff;
}
.main_menu a + a {
  border-top: 1px solid #476e7f;
}
.main_menu a.disabled {
  pointer-events: none;
  opacity: .6;
}
.main_menu a.selected {
  color: #FFEB3B;
}
.main_menu_toggle {
  display: none;
  position: fixed;
  z-index: 5;
  color: #fff;
  right: 0;
  top: 22px;
  padding: 8px;
}
@media (max-width: 768px) {
  .main_menu_toggle {
    display: block;
  }
  .main_menu {
    left: -256px;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
  }
  .main_menu.open {
    left: 0;
  }
}
